body {
  margin: 0px;
}

#griddiv{
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 60% 30%;
  grid-template-areas:
    "log log log log log log log log"
    "jco ome bas coz lut arl jid ear"
    "inf inf inf inf inf inf inf inf";
}

#maindiv {
  width: 100vw;
}

#logodiv {
  grid-area: log;
  border: 1px solid black;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mainlogo {
  width: 10%;
  height: auto;
}

.artistdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#ad1 {
  grid-area: jco;
}

#ad2 {
  grid-area: ome;
}

#ad3 {
  grid-area: bas;
}

#ad4 {
  grid-area: coz;
}

#ad5 {
  grid-area: lut;
}

#adiv6 {
  grid-area: arl;
}

#ad7 {
  grid-area: jid;
}

#ad8 {
  grid-area: ear;
}

.artistheader{
  color: white;
}

.artistimage{
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: 1s;
}

.artistimage:hover{
  filter: grayscale(0%);
  transition: 1s;
}


#backgrounddiv {
  background-color: black;
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#infodiv {
  grid-area: inf;
  border: 1px solid black;
  background-color: white;
}

@media screen and (max-width:1024px) {
  #griddiv{
    display: grid;
    width: 100%;
    height: 200vh;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5% 15% 15% 15% 15% 32%;
    grid-template-areas:
      "log log"
      "jco ome"
      "bas coz"
      "lut arl"
      "jid ear"
      "inf inf";
  }
  #logodiv {
    grid-area: log;
    border: 1px solid black;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mainlogo {
    height: auto;
    width: 25%;
  }
  .artistimage{
    width: 40%;
    height: auto;
    filter: grayscale(100%);
    transition: 1s;
  }
  .artistheader {
    margin: 0px;
  }
}
