body {
  margin: 0px;
}

#griddiv{
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 60% 30%;
  grid-template-areas:
    "log log log log log log log log"
    "jco ome bas coz lut arl jid ear"
    "inf inf inf inf inf inf inf inf";
}

#logodiv {
  grid-area: log;
  border: 1px solid black;
  background-color: black;
}

#mainlogo {
  width: 10%;
  height: auto;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 10px;
}

.artistdiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#ad1 {
  grid-area: jco;
}

.artistimage{
  width: 80%;
  height: auto;
  filter: grayscale(100%);
  transition: 1s;
}

.artistimage:hover{
  filter: grayscale(0%);
  transition: 1s;
}

#ad2 {
  grid-area: ome;
}

#ad3 {
  grid-area: bas;
}

#ad4 {
  grid-area: coz;
}

#ad5 {
  grid-area: lut;
}

#adiv6 {
  grid-area: arl;
}

#ad7 {
  grid-area: jid;
}

#ad8 {
  grid-area: ear;
}

#infodiv {
  grid-area: inf;
  border: 1px solid black;
}


@media screen and (max-width:1024px) {
  #griddiv{
    display: grid;
    width: 100%;
    height: 200vh;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 15% 15% 15% 15% 20%;
    grid-template-areas:
      "log log"
      "jco ome"
      "bas coz"
      "lut arl"
      "jid ear"
      "inf inf";
  }
}
