@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,500,600');

* { box-sizing: border-box; } /*styling for modal, ensures proper size*/
.video-background { /*sets background for video background, behind all other content and fixed to the default position (in this case, the full screen)*/
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
}
.video-foreground, .video-background iframe { /*the foreground of the video backgroud, where the video itself goes.*/
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

body { /*ensures body content fits in viewport*/
  margin: 0px;
  width: 100vw;
}

#griddiv{ /* main grid div */
  display: grid;
  width: 100%;
  height: 100vh;
  padding: 0px;
  margin: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10% 60% 30%;
  grid-template-areas:
    "log log log log log log log log"
    "jco ome bas coz lut arl jid ear"
    "inf inf inf inf inf inf inf inf";
}

#logodiv { /* color styling for logo div, makes it flex container for centering logo*/
  grid-area: log;
  border: 1px solid black;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#mainlogo { /*size of logo*/
  width: 10%;
  height: auto;
}

#sourceBtn{ /*styling for source button's position, color, font, etc*/
  position: absolute;
  right: 5%;
  top: 3%;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 400;
  width: 3vw;
  padding-bottom: 3px;
  font-size: 1.25em;
  border-radius: 2px;
  transition: .25s;
}

#sourceBtn:hover { /*on hover, change color styling of button */
  background-color: white;
  color: black;
  transition: .25s;
}

.artistdiv { /*general styling for artist divs, flex keeps alignment nice and neat */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

#ad1 {
  grid-area: jco;
}

#ad2 {
  grid-area: ome;
}

#ad3 {
  grid-area: bas;
}

#ad4 {
  grid-area: coz;
}

#ad5 {
  grid-area: lut;
}

#adiv6 {
  grid-area: arl;
}

#ad7 {
  grid-area: jid;
}

#ad8 {
  grid-area: ear;
}

.artistheader{ /* styling of artist headers */
  color: white;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  letter-spacing: 2px;
}

.artistimage{ /*styling for artist image */
  width: 100%;
  height: auto;
  filter: grayscale(100%);
  transition: .75s;
}

.artistimage:hover{ /*on hover, go from grayscale to color, make cursor pointer to indicate clickability */
  filter: grayscale(0%);
  transition: .75s;
  cursor: pointer;
}

#infodiv { /*styling for info div and the text within*/
  grid-area: inf;
  border: 1px solid black;
  background-color: black;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#myBtn { /*styling for modal button*/
  position:fixed;
  top: 73%;
  right: 5%;
  z-index: -1;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 400;
  letter-spacing: 2px;
  padding-bottom: 3px;
  font-size: 1.25em;
  border-radius: 2px;
  transition: .25s;
}

#myBtn:hover { /*on hover, button changes colors */
  background-color: white;
  color: black;
  transition: .25s;
}

#defaultinfo{ /*for some reason the default info was higher up than it should've been. this pushes it back down*/
  margin-top: 40vh;
}

.infotext{ /*info text styling*/
  color: white;
}

.modal { /* The Modal (background) */
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 5vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-box { /* Modal box default styling*/
    background-color: white;
    margin: auto;
    padding: 0px;
    border: 7px solid white;
    border-radius: 3px;
    width: 90%;
    height: 90%;
}

.close { /* The Close Button */
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 1%;
}

.close:hover, .close:focus { /*change styling on hover/focus */
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#artistcontent { /*grid for modal window*/
  height: 95%;
  width: 100%;
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65% 35%;
  grid-template-areas:
  "txt vid vid"
  "txt alb alb";
}

#modaltext {
  grid-area: txt;
}

#modalbodytext { /* styling for modal body text */
  font-family: 'Oswald', 'sans-serif';
  overflow: auto;
  height: 85%;
  width: 90%;
  margin-left: 3%;
}

/* scrollbar width */
::-webkit-scrollbar {
    width: 10px;
}

/* scrollbar track */
::-webkit-scrollbar-track {
    background: none;
}

/* scrollbar handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 3px;
}

/* scrollbar andle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0d0d0d;
}

#modalheader { /*modal header styling*/
  font-family: 'Oswald', 'sans-serif';
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-left: 3%;
}

#modalvid { /*modal video styling*/
  grid-area: vid;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid black;
}

#ytplayer { /*dimensions of youtube player*/
  width: 640px;
  height: 360px;
}

#modalalbums { /*styling for album container*/
  grid-area: alb;
  background-color: black;
  border-radius: 0px 0px 5px 5px;
}

#albumheader { /*album header styling*/
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

#albumholder { /*flex wrapper for albums*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

#albumtitles{ /*album title styling*/
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.albumtitle{ /*album title size*/
  width: 18%;
}

.albums { /*album size/positioning*/
  height: 18%;
  width: 18%;
  padding-left: 2%;
  padding-right: 2%;
}

#mobilebackground{ /*hides mobile background on desktop*/
  display: none;
}

#sources{ /*styling for sources window*/
  position: absolute;
  top: 10%;
  width: 20%;
  height: auto;
  display: none;
  z-index: 2;
  background-color: white;
}

#sourcelist{ /*styling for source list*/
  padding-left: 25px;
}

#closeBtn { /*styling for close button*/
  border: 1px solid black;
  background-color: white;
  color: black;
  font-family: 'Oswald', 'sans-serif';
  font-weight: 300;
  width: 30%;
  margin-left: 35%;
  margin-bottom: 10px;
  border-radius: 2px;
  transition: .25s;
}

#closeBtn:hover { /*on hover, change button color */
  background-color: black;
  color: white;
  transition: .25s;
}

@media screen and (max-width:1024px) { /*media query for tablets/phone screens*/
  #griddiv{
    display: grid;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6% 12% 12% 12% 12% 46%;
    grid-template-areas:
      "log log"
      "jco ome"
      "bas coz"
      "lut arl"
      "jid ear"
      "inf inf";
  }
  .video-background { /*hide video background on mobile*/
    display: none
  }
  #logodiv { /*logodiv styling for mobile*/
    grid-area: log;
    border: 1px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #mainlogo { /*logo styling for mobile */
    height: auto;
    width: 25%;
  }
  #sourceBtn{ /*source button adjusted styling*/
    position: absolute;
    right: 5%;
    top: 2%;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 400;
    width: 10%;
    padding-bottom: 3px;
    font-size: 1.25em;
    border-radius: 2px;
    transition: .25s;
  }
  .artistimage{ /*artist image adjusted styling */
    width: 40%;
    height: auto;
    filter: grayscale(100%);
    transition: .75s;
  }
  .artistheader { /*artist header adjusted styling */
    margin: 0px;
    color: white;
  }
  #myBtn { /*modal button adjusted styling*/
    position:fixed;
    top: 94%;
    right: 40%;
    width: 20%;
    z-index: -1;
    border: 1px solid white;
    background-color: black;
    color: white;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 3px;
    font-size: 1.25em;
    border-radius: 2px;
  }
  #artistcontent { /*artist content adjusted styling*/
    height: 95%;
    width: 100%;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 35%;
    grid-template-areas:
    "vid"
    "alb"
    "txt";
    overflow: auto;
  }

  #albumholder { /*album holder adjusted styling*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  #albumtitles{ /*album title holder adjusted styling */
    font-family: 'Oswald', 'sans-serif';
    font-weight: 300;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
  }

  .albumtitle{ /*album title adjusted styling*/
    width: 25%;
  }

  .albums { /*albums adjusted styling*/
    height: 25%;
    width: 25%;
    padding-left: 4%;
    padding-right: 4%;
  }
  #ytplayer { /*youtube player adjusted styling*/
    width: 300px;
    height: 168.75px;
  }
  #infodiv { /*info div adjusted styling*/
    grid-area: inf;
    border: 1px solid black;
    background-color: black;
    font-family: 'Oswald', 'sans-serif';
    font-weight: 300;
    height:90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
  }
  #mobilebackground{ /*displays mobile background*/
    background-image: url('../img/mobilebackground.png');
    background-size: 105%;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  #sources{ /*adjusted styling for sources container*/
    position: absolute;
    top: 10%;
    width: 40%;
    height: auto;
    display: none;
    z-index: 2;
    background-color: white;
  }
}
